
<div class="content-wrapper">
		<div class="row">
			<div class="col-12">
				<div class="panels shadow">
	
					<section class="content-header">
						<h2>
							Listado de las Economias
						</h2>
						<ol class="breadcrumb">
							<li>
								<a>
									<i class="fa fa-folder-open"></i>
									Clasificación administrativa
								</a>
							</li>
							<li>
								<a>
									Economias
								</a>
							</li>
						</ol>
					</section>
	
					<section class="content container-fluid">
						<button type="button" class="btn btn-success btn-sm mb-2 pull-right"
							[routerLink]="['/panel-adm/economias', 'nuevo']"
						>
							<i class="fas fa-plus-circle"></i>
							Agregar nueva economia
						</button>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>										<th scope="col">Codigo</th>
										<th scope="col">Nombre</th>
										<th class="text-center" scope="col">Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngIf="economias.length==0; else tableBlock">
										<td colspan="4" class="text-center">
											<span class="badge badge-info">
												<h5>
													<i class="far fa-frown"></i>
													No hay elementos para mostrar.
												</h5>
											</span>
										</td>
									</tr>
									<ng-template #tableBlock>
										<tr *ngFor="let economia of economias; let i = index">
											<td>{{ i+1 }}</td>											<td>{{ economia.codigo }}</td>
											<td>{{ economia.nombre }}</td>
											<td class="text-right">
												<button type="button" class="btn btn-primary btn-sm"
													[routerLink]="['/panel-adm/economias', economia.id]"
													[disabled]="!economia.status"
												>
													<i class="fas fa-edit"></i>
													Editar
												</button>
												<button type="button" class="btn btn-danger btn-sm ml-3">
													<i class="fas fa-trash"></i>
													Eliminar
												</button>
												<button type="button" class="btn btn-success btn-sm ml-3">
													<i class="fas fa-info-circle"></i>
													Detalles
												</button>
											</td>
										</tr>
									</ng-template>
								</tbody>
							</table>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>