<div class="col-sm-12 mb-2">
    <label>
		Proyecto
	</label>
    <select class="form-control" name="proyecto" [ngModel]="data.id_proyecto" (change)="getFasesByProyecto($event.target.value)">
		<option value="">
			Seleccione un proyecto
		</option>
		<option *ngFor="let proyecto of proyectos" [value]="proyecto.id">
			{{ proyecto.codigo + ' - ' + proyecto.nombre }}
		</option>
	</select>
</div>

<div class="col-sm-12 mb-2">
    <label>
		Fase
	</label>
    <select class="form-control" name="fase" [ngModel]="data.id_fase" (change)="getFases($event.target.value)" [(disabled)]="fase">
		<option value="">
			Seleccione una fase
		</option>
		<option *ngFor="let fase of fases" [value]="fase.id">
			{{ fase.codigo + ' - ' + fase.nombre }}
		</option>
	</select>
</div>