<div class="col-sm-12 mb-2">
    <label>
		Proyecto
	</label>
    <select class="form-control" name="proyecto" [ngModel]="data.id_proyecto" (change)="getFasesByProyecto($event.target.value)">
		<option value="">
			Seleccione un proyecto
		</option>
		<option *ngFor="let proyecto of proyectos" [value]="proyecto.id">
			{{ proyecto.codigo + ' - ' + proyecto.nombre }}
		</option>
	</select>
</div>

<div class="col-sm-12 mb-2">
    <label>
		Fase
	</label>
    <select class="form-control" name="fase" [ngModel]="data.id_fase" (change)="getFases($event.target.value)" [(disabled)]="fase">
		<option value="">
			Seleccione una fase
		</option>
		<option *ngFor="let fase of fases" [value]="fase.id">
			{{ fase.codigo + ' - ' + fase.nombre }}
		</option>
	</select>
</div>

<div class="col-sm-12 mb-2">
    <label>
		Clasificación programática
	</label>
    <div class="row" *ngIf="data.id_proyecto==''; else clasfProgramatica">
        <div class="col-sm-12 col-md-6">
            <label>Programa</label>
            <textarea type=" text " class="form-control" disabled>Esperando la seleccion de proyecto</textarea>
        </div>

        <div class="col-sm-12 col-md-6">
            <label>Subprograma</label>
            <textarea type="text " class="form-control" disabled>Esperando la seleccion de proyecto</textarea>

        </div>
    </div>
    <!-- 
    <ng-template #clasfProgramatica>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>Programa</label>
                <textarea type=" text " class="form-control" value="{{ programatica.codigo_programa + ' - ' + programatica.nombre_programa }}" disabled></textarea>
            </div>

            <div class="col-sm-12 col-md-6">
                <label>Subprograma</label>
                <textarea type="text " class="form-control" value="{{ programatica.codigo_subprograma + ' - ' + programatica.nombre_subprograma }}" disabled></textarea>

            </div>
        </div>
    </ng-template> -->
</div>