<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="escritorio">
                    <i class="nav-icon fa fa-dashboard"></i> Escritorio
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas programatica
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="programas">
                            <i class="nav-icon fa fa-check-circle"></i> Programas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subprogramas">
                            <i class="nav-icon fa fa-circle"></i> Subprogramas
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas por objeto de gasto
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="capitulos">
                            <i class="nav-icon fa fa-check-circle"></i> Capitulo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="conceptos">
                            <i class="nav-icon fa fa-check-circle"></i> Concepto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="partidas">
                            <i class="nav-icon fa fa-check-circle"></i> Partida
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas contable
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="generos">
                            <i class="nav-icon fa fa-check-circle"></i> Genero
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="grupos">
                            <i class="nav-icon fa fa-check-circle"></i> Grupo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="rubros">
                            <i class="nav-icon fa fa-check-circle"></i> Rubro
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cuentas">
                            <i class="nav-icon fa fa-check-circle"></i> Cuenta
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subcuentas">
                            <i class="nav-icon fa fa-check-circle"></i> Subcuenta
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas Administrativa
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="sectores">
                            <i class="nav-icon fa fa-check-circle"></i> Sector
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="financieros">
                            <i class="nav-icon fa fa-check-circle"></i> Financiero
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="economias">
                            <i class="nav-icon fa fa-check-circle"></i> Economica
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subeconomias">
                            <i class="nav-icon fa fa-check-circle"></i> Subeconomia
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="administrativas">
                            <i class="nav-icon fa fa-check-circle"></i> Clas administrativa
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Unidades Internas
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="empresas">
                            <i class="nav-icon fa fa-check-circle"></i> Empresas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="unidadesAdmin">
                            <i class="nav-icon fa fa-check-circle"></i> Uds. Administrativas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="ccostos">
                            <i class="nav-icon fa fa-check-circle"></i> Centros de Costos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="ctrabajos">
                            <i class="nav-icon fa fa-check-circle"></i> Centros de Trabajo
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas Funcional
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="finalidades">
                            <i class="nav-icon fa fa-check-circle"></i> Finalidades
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="funciones">
                            <i class="nav-icon fa fa-check-circle"></i> Funciones
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subfunciones">
                            <i class="nav-icon fa fa-check-circle"></i> Subfunciones
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas F. Financiamiento
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="fuentes">
                            <i class="nav-icon fa fa-check-circle"></i> Fuentes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subfuentes">
                            <i class="nav-icon fa fa-check-circle"></i> Subfuentes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tipos">
                            <i class="nav-icon fa fa-check-circle"></i> Tipos
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Presupuesto de egresos
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="pres_egresos">
                            <i class="nav-icon fa fa-check-circle"></i> Egresos
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
