<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="escritorio" routerLinkActive="active">
                    <i class="nav-icon fa fa-dashboard"></i> Escritorio
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas programatica
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="programas" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Programas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subprogramas" routerLinkActive="active">
                            <i class="nav-icon fa fa-circle"></i> Subprogramas
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas tipo de gasto
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tipos-gastos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Tipo de gasto
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas por objeto de gasto
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="capitulos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Capitulo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="conceptos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Concepto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="partidas" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Partida
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas contable
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="generos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Genero
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="grupos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Grupo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="rubros" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Rubro
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cuentas" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Cuenta
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subcuentas" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Subcuenta
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas Administrativa
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="sectores" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Sector
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="financieros" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Financiero
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="economias" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Economica
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subeconomias" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Subeconomia
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="administrativas" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Clas administrativa
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Unidades Internas
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="empresas" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Empresas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="unidadesAdmin" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Uds. Administrativas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="ccostos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Centros de Costos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="ctrabajos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Centros de Trabajo
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas Funcional
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="finalidades" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Finalidades
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="funciones" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Funciones
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subfunciones" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Subfunciones
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Clas F. Financiamiento
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="fuentes" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Fuentes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="subfuentes" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Subfuentes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tipos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Tipos
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon fa fa-folder"></i>Presupuesto de egresos
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="pres_egresos" routerLinkActive="active">
                            <i class="nav-icon fa fa-check-circle"></i> Egresos
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>