<div class="table-responsive ">
    <table class="table table-striped table-bordered table-sm " id="presupuestoEgresoGeneral">
        <thead>
            <tr>
                <th class="align-middle text-center h2 font-weight-bold" colspan="24">Presupuesto de egresos {{ anio }}</th>
            </tr>
            <tr>
                <th class="align-middle text-center" rowspan="5">#</th>
                <th class="align-middle text-center" rowspan="5">Año</th>
                <th class="align-middle text-center" colspan="22">Centro Costo</th>
            </tr>

            <tr>
                <th class="align-middle text-center" rowspan="4">Código</th>
                <th class="align-middle text-center" rowspan="4">Nombre</th>
                <th class="align-middle text-center" colspan="20">Proyectos</th>
            </tr>

            <tr>
                <th class="align-middle text-center" rowspan="3">Código</th>
                <th class="align-middle text-center" rowspan="3">Nombre</th>
                <th class="align-middle text-center" rowspan="3">Fecha Inicio</th>
                <th class="align-middle text-center" rowspan="3">Fecha Final</th>
                <th class="align-middle text-center" colspan="2">Subprograma</th>
                <th class="align-middle text-center" colspan="14">Fase</th>
            </tr>
            <tr>
                <th class="align-middle text-center" rowspan="2">Código</th>
                <th class="align-middle text-center" rowspan="2">Nombre</th>

                <th class="align-middle text-center" rowspan="2">Código</th>
                <th class="align-middle text-center" rowspan="2">Nombre</th>
                <th class="align-middle text-center" rowspan="2">Descripción</th>

                <th class="align-middle text-center" colspan="2">Tipo FF</th>
                <th class="align-middle text-center" colspan="6">Ubicación Geográfica</th>
                <th class="align-middle text-center" colspan="3">Partida</th>

            </tr>
            <tr>
                <th class="align-middle text-center">Código</th>
                <th class="align-middle text-center">Nombre</th>

                <th class="align-middle text-center">Estado</th>
                <th class="align-middle text-center">Municipio</th>
                <th class="align-middle text-center">Código Postal</th>
                <th class="align-middle text-center">Asentamiento</th>
                <th class="align-middle text-center">Tipo Asentamiento</th>
                <th class="align-middle text-center">Domicilio</th>
                <th class="align-middle text-center">Código</th>
                <th class="align-middle text-center">Nombre</th>
                <th class="align-middle text-center">Importe</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dato of datos; let i=index ">
                <!-- 19 columnas -->
                <td class="align-middle text-center" scope="row ">{{ i + 1 }}</td>
                <td class="align-middle text-center">{{ dato.anio }}</td>
                <td class="align-middle text-center">{{ dato.codigo_centro }}</td>
                <td class="align-middle">{{ dato.nombre_centro }}</td>
                <td class="align-middle text-center">{{ dato.codigo_proyecto }}</td>
                <td class="align-middle">{{ dato.nombre_proyecto }}</td>
                <td class="align-middle text-center" nowrap>{{ dato.fecha_inicio_proyecto }}</td>
                <td class="align-middle text-center" nowrap>{{ dato.fecha_final_proyecto }}</td>
                <td class="align-middle text-center">{{ dato.codigo_subprograma }}</td>
                <td class="align-middle">{{ dato.nombre_subprograma }}</td>
                <td class="align-middle text-center">{{ dato.codigo_fase }}</td>
                <td class="align-middle">{{ dato.nombre_fase }}</td>
                <td class="align-middle">{{ dato.descripcion_fase }}</td>
                <td class="align-middle text-center">{{ dato.codigo_tipo_financ }}</td>
                <td class="align-middle">{{ dato.nombre_tipo_financ }}</td>
                <td class="align-middle text-center">{{ dato.estado }}</td>
                <td class="align-middle text-center">{{ dato.municipio }}</td>
                <td class="align-middle text-center">{{ dato.codigo_postal }}</td>
                <td class="align-middle text-center">{{ dato.asentamiento }}</td>
                <td class="align-middle text-center">{{ dato.tipo_asentamiento }}</td>
                <td class="align-middle">{{ dato.domicilio }}</td>
                <td class="align-middle text-center">{{ dato.codigo_partida }}</td>
                <td class="align-middle">{{ dato.nombre_partida }}</td>
                <td class="align-middle text-right" nowrap>{{ dato.importe | currency }}</td>
            </tr>
        </tbody>
        <tfoot>
            <th class="align-middle text-right font-weight-bold " colspan="23">Total</th>
            <th class="align-middle text-right" nowrap>{{ total | currency}}</th>
        </tfoot>
    </table>
</div>