<!-- Breadcrumb-->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-folder-open"></i> Presupuesto de egreso
        </li>
        <li class="breadcrumb-item"><a [routerLink]="['/panel-adm/proyectos']">
			Proyectos
		</a></li>
        <li class="breadcrumb-item active"> Proyecto</li>
    </ol>
</div>

<div class="container-fluid p-3">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow">
                    <form #f="ngForm" (ngSubmit)="guardar(f)">
                        <div class="card-header">
                            <div class="row text-center">
                                <div class="col-12 col-md-8 text-md-left h5 font-weight-bold">
                                    <span *ngIf="proyecto.id!=''">
										<i class="fa fa-edit"></i><strong> Editar un proyecto</strong>
									</span>
                                    <span *ngIf="proyecto.id==''">
										<i class="fa fa-plus-circle"></i><strong> Crear un proyecto</strong>
									</span>
                                </div>
                                <div class="col-12 col-md-4 text-center text-sm-right">
                                    <button class="btn btn-outline-primary mt-2 btn-sm" type="button" (click)="regresar()">
										<i class="fa fa-arrow-circle-left"></i> Regresar
									</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Ingresa el nombre" required name="nombre" [(ngModel)]="proyecto.nombre" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Ingresa la descripción" name="descripcion" [(ngModel)]="proyecto.descripcion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fecha_inicio" class="col-sm-2 col-form-label">Fecha inicio</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" required name="fecha_inicio" [min]="limiteFechaInicio" [max]="limiteFechaFinal" [(ngModel)]="proyecto.fecha_inicio" (change)="activarFechaFinal()">
                                </div>
                                <label for="fecha_final" class="col-sm-2 col-form-label text-right">Fecha final</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" name="fecha_final" [min]="proyecto.fecha_inicio" [max]="limiteFechaFinal" [(ngModel)]="proyecto.fecha_final" [(disabled)]="fechaFinal" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ClasfProgramatica" class="col-sm-12 col-form-label">
                                    <strong>Clasificación Programática</strong>
                                </label>
                            </div>
                            <div class="form-group row">
                                <label for="programa" class="col-sm-2 col-form-label">Programa</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="programa" [(ngModel)]="proyecto.id_programa" (change)="getSubprogramaByPrograma($event.target.value)" required>
                                        <option value=""> Seleccione una opcion... </option>
                                        <option *ngFor="let programa of programas" [value]="programa.id"> {{ programa.nombre }} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="subprograma" class="col-sm-2 col-form-label">Subprograma</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="subprograma" [(ngModel)]="proyecto.id_subprograma" (click)="getSubprograma($event.target.value)" required>
                                        <option value=""> Seleccione una opcion... </option>
                                        <option *ngFor="let subprograma of subprogramas" [value]="subprograma.id"> {{ subprograma.nombre }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="form-group row">
                                <div class="col-12">
                                    <button class="btn btn-primary btn-sm pull-right" type="submit" [disabled]="f.invalid || !f.dirty">
										<i class="fa fa-save"></i>
										Guardar
									</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <!-- /.row-->
    </div>
</div>