<div class="content-wrapper">
	<div class="row">
		<div class="col-12">
			<div class="panels shadow">

				<section class="content-header">
					<h1>
						Escritorio 1
						<small>Datos en tiempo real</small>
					</h1>
					<ol class="breadcrumb">
						<li class="active">
							<a href="#">
								<i class="fa fa-dashboard"></i>
								Escritorio
							</a>
						</li>
					</ol>
				</section>

				<section class="content container-fluid">

					<h1>
						Escritorio c:
					</h1>

				</section>
			</div>
		</div>
	</div>
</div>