<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="panels shadow">
                <section class="content-header">
                    <div class="row">
                        <div class="col-8">
                            <h2 *ngIf="id!='nuevo'">
                                Editar un Centro de Costo
                            </h2>
                            <h2 *ngIf="id=='nuevo'">
                                Crear un Centro de Costo
                            </h2>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-primary mt-2 btn-sm pull-right" type="button" [routerLink]="['/panel-adm/ccostos']">
                            <i class="fas fa-arrow-circle-left"></i>
                            Regresar
                          </button>
                        </div>
                    </div>

                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-folder-open"></i> Unidades Internas
                        </li>
                        <li>
                            Centros de Costos
                        </li>
                    </ol>
                </section>

                <section class="content container-fluid">
                    <form (ngSubmit)="guardar()">
                        <div class="form-group row" *ngIf="bandera">
                            <div class="col-sm-12">
                                <label for="staticEmail" class="col-sm-12 col-form-label">Empresa</label>
                                <div class="col-sm-12">
                                    <select type="text" class="form-control" [(ngModel)]="emp" name="emp" (change)="inicio();">
                                        <option *ngFor="let empresa of empresas;let i = index" [value]="empresa.id" >{{i}} {{ empresa.nombre }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="staticEmail" class="col-sm-12 col-form-label">Unidad Administrativa</label>
                                <div class="col-sm-12">
                                    <select type="text" class="form-control" [(ngModel)]="ccostos.id_unidad_adm" name="id_unidad_adm" [(disabled)]="bandera2">
                                        <option *ngFor="let unidad of unidades" [value]="unidad.id"> {{ unidad.nombre }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="staticEmail" class="col-sm-12 col-form-label">Subfuncion</label>
                                <div class="col-sm-12">
                                    <select class="form-control" [(ngModel)]="ccostos.id_subfuncion" name="id_subfuncion">
                                        <option *ngFor="let sub of subs" [value]="sub.id"> {{ sub.nombre }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="staticEmail" class="col-sm-12 col-form-label">Nombre</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el nombre" [(ngModel)]="ccostos.nombre" name="nombre">
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-12">
                                <button class="btn btn-primary pull-right" type="submit">
                                <i class="fas fa-save"></i>
                                Guardar
                              </button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>