<!-- Breadcrumb -->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Presupuestos de egresos</li>
    </ol>
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-md-8 text-center text-sm-left  h5 font-weight-bold">
                            <i class="fa fa-list"></i> Centro de costo
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <app-ui [primary_keys_ui]="ui_keys" (out)="getDataUI($event)"></app-ui>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-md-8 text-center text-sm-left  h5 font-weight-bold">
                            <i class="fa fa-list"></i> Presupuestos de egreso
                        </div>
                        <div class="col-12 col-md-4 text-center text-sm-right">
                            <button title="Ver detalles" type="button" class="btn btn-success btn-sm text-white ml-3" data-toggle="modal" data-target="#myModal" (click)="showModel()" [disabled]="!this.ui_data.id_ccosto">
                                <i class="fa fa-plus-circle"></i>
                                Agregar 
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" *ngIf="ui_data.id_ccosto; else selectCC">
                        <table class="table table-striped table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Centro de costo</th>
                                    <th class="text-center" scope="col">Estado</th>
                                    <th class="text-center" scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="presupuestos.length==0; else tableBlock">
                                    <td colspan="5" class="text-center">
                                        <span class="badge badge-info">
                                            <h5>
                                                <i class="far fa-frown"></i>
                                                No hay elementos para mostrar.
                                            </h5>
                                        </span>
                                    </td>
                                </tr>
                                <ng-template #tableBlock>
                                    <tr *ngFor="let presupuesto of presupuestos; let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ presupuesto.nombre }}</td>
                                        <td>{{ presupuesto.nombre_centro_costo }}</td>
                                        <td class="text-center">
                                            <span [class]="getBadgeFormatEstado(presupuesto.estado)">
                                                {{ presupuesto.estado }}
                                            </span>
                                        </td>
                                        <td class="text-center" nowrap>
                                            <button type="button" class="btn btn-info btn-sm text-white ml-3" [routerLink]="presupuesto.id">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm ml-3" (click)="mostrarProyectos(presupuesto.id, presupuesto.anio)">
                                                <i class="fa fa-project-diagram fa-lg"></i> Proyectos
                                            </button>
                                            <button *ngIf="presupuesto.estado == 'Capturando'" type="button" class="btn btn-primary btn-sm text-white ml-3" (click)="enviarAEvaluar(presupuesto.id)">
                                                <i class="fa fa-thumbs-up"></i> Enviar a evaluación
                                            </button>
                                            <!-- <button *ngIf="presupuesto.estado == 'Revisión'" type="button" class="btn btn-primary btn-sm text-white ml-3" (click)="aprobarEgreso(presupuesto.id)">
                                                <i class="fa fa-thumbs-up"></i> Aprobar
                                            </button> -->
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #selectCC>
                        <div class="alert alert-warning text-center" role="alert">
                            <i class="fa fa-exclamation-triangle fa-lg"></i> Seleccione el centro de costo
                        </div>
                    </ng-template>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showModal">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear Presupuesto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p class="m-2">Seleccione el año</p>

                    <div class="row">
                        <div class="col-6 text-center">
                            <input type="button" class="btn btn-success" (click)="crearPresupuesto(anioActual)" data-dismiss="modal" aria-label="Close" value="{{ anioActual }}">
                        </div>
                        <div class="col-6 text-center">
                            <input type="button" class="btn btn-success" (click)="crearPresupuesto(anioSiguiente)" data-dismiss="modal" aria-label="Close" value="{{ anioSiguiente }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>