<!-- Breadcrumb -->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Presupuestos de egresos</li>
        <li class="breadcrumb-item"> Presupuestos de egreso</li>
    </ol>
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row text-center">
                        <div class="col-12 col-md-8 text-md-left h5 font-weight-bold">
                            <i class="fa fa-list"></i><strong> Presupuesto de egreso {{ egresoPropioPrincipal.anio + ' (' + egresoPropioPrincipal.nombre_centro_costo }})</strong>
                        </div>
                        <div class="col-12 col-md-4 text-center text-sm-right">
                            <!-- Boton regresar normal -->
                            <button class="btn btn-outline-primary mt-2 btn-sm" type="button" (click)="regresar();">
                                <i class="fa fa-arrow-circle-left"></i> Regresar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="nav-tabs-boxed">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" *ngIf="centrosCostos.length != 0">
                                <a class="nav-link active" data-toggle="tab" href="#egresoGeneral" role="tab" aria-controls="egresoGeneral">Presupuesto general de egreso</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [ngClass]="{ 'active': centrosCostos.length == 0 }" data-toggle="tab" href="#egresoPropio" role="tab" aria-controls="egresoPropio">Presupuesto Propio</a>
                            </li>
                            <li class="nav-item" *ngIf="centrosCostos.length != 0">
                                <a class="nav-link" data-toggle="tab" href="#egresoACargos" role="tab" aria-controls="egresoACargos">Relacion de presupuestos de egresos a cargo</a>
                            </li>
                            <li class="nav-item" *ngIf="centrosCostos.length != 0">
                                <a class="nav-link" data-toggle="tab" href="#clasificacionEgreso" role="tab" aria-controls="clasificacionEgreso">Vista por clasificaciones</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="egresoGeneral" role="tabpanel" *ngIf="centrosCostos.length != 0">
                                <ng-template #alertPresupuestoPropio>
                                    <div class="alert alert-warning text-center" role="alert">
                                        <i class="fa fa-exclamation-triangle fa-lg"></i> {{ mensajeAlert }}
                                    </div>
                                </ng-template>

                                <div *ngIf="datosEgresoGeneral.length != 0; else alertPresupuestoPropio">
                                    <div class="col-12 m-2 text-right">
                                        <a type="button" class="btn btn-sm text-white m-1" [ngStyle]="{'background-color':'orange'}" (click)="downloadPresupuestoEgresoPDF()">
                                            <i class="fa fa-print"></i> Imprimir
                                        </a>
                                        <a type="button" class="btn btn-sm text-white m-1" [ngStyle]="{'background-color':'red'}" (click)="seePresupuestoEgresoPDF()">
                                            <i class="fa fa-eye"></i> Mostrar PDF
                                        </a>
                                        <a type="button" class="btn btn-sm text-white m-1" [ngStyle]="{'background-color':'green'}" [href]="fileUrl" download="file.csv">
                                            <i class="fa fa-file-excel" aria-hidden="true"></i> Descargar excel
                                        </a>
                                    </div>
                                    <app-table-egreso [datos]="datosEgresoGeneral" [anio]="egresoPropioPrincipal.anio"></app-table-egreso>
                                </div>
                            </div>

                            <div class="tab-pane" [ngClass]="{'active': centrosCostos.length == 0}" id="egresoPropio" role="tabpanel">
                                <ng-template #alertEgresoPropio>
                                    <div class="alert alert-warning text-center" role="alert">
                                        <i class="fa fa-exclamation-triangle fa-lg"></i> {{ mensajeAlert }}
                                    </div>
                                </ng-template>
                                <app-table-egreso *ngIf="datosEgreso != null; else alertEgresoPropio" [datos]="datosEgreso" [anio]="egresoPropioPrincipal.anio"></app-table-egreso>
                            </div>

                            <div class="tab-pane" id="egresoACargos" role="tabpanel" *ngIf="centrosCostos.length != 0 ">
                                <div class="accordion" id="accordion" role="tablist">
                                    <div class="card mb-0" *ngFor="let centro of centrosCostos; let i = index">
                                        <div class="card-header" id="heading{{ i }}" role="tab">
                                            <div class="row">
                                                <div class="col-12">
                                                    <a class="h5" data-toggle="collapse" href="#collapse{{ i }}" (click)="get_presupuesto_egresos_general_hijos(centro.id,  egresoPropioPrincipal.anio)" aria-expanded="false" aria-controls="collapse" d-inline>
                                                        {{ centro.nombre }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="collapse" id="collapse{{ i }}" role="tabpanel" aria-labelledby="heading" data-parent="#accordion">
                                            <div class="card-body">
                                                <ng-template #alertEgresoHijo>
                                                    <div class="alert alert-warning text-center" role="alert">
                                                        <i class="fa fa-exclamation-triangle fa-lg"></i> {{ mensajeAlertHijo }}
                                                    </div>
                                                </ng-template>

                                                <app-table-egreso *ngIf="datosEgresoGeneralHijo.length != 0; else alertEgresoHijo" [datos]="datosEgresoGeneralHijo" [anio]="egresoPropioPrincipal.anio"></app-table-egreso>

                                                <div class="row col-12 text-center" *ngIf="mostrarOpciones">
                                                    <button class="btn btn-success mr-2" (click)="autorizarPresupuesto(centro.id)">
                                                        Autorizar Presupuesto
                                                    </button>
                                                    <button class="btn btn-danger text-white mr-2" (click)="rechazarPresupuesto()">
                                                        Rechazar Presupuesto
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="clasificacionEgreso" role="tabpanel">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link active" id="v-pills-clasf-obj-gasto-tab" data-toggle="pill" href="#v-pills-clasf-obj-gasto" role="tab" aria-controls="v-pills-clasf-obj-gasto" aria-selected="true" (click)="buscarPresupuestoPorClasificacion('ClasfObjGasto', $event.target.text)">Clasificación Objeto de Gasto</a>
                                            <a class="nav-link" id="v-pills-clasf-tipo-gasto-tab" data-toggle="pill" href="#v-pills-clasf-tipo-gasto" role="tab" aria-controls="v-pills-clasf-tipo-gasto" aria-selected="false" (click)="buscarPresupuestoPorClasificacion('ClasfTipoGasto', $event.target.text)">Clasificación por tipo de gasto</a>
                                            <a class="nav-link" id="v-pills-clasf-administrativa-tab" data-toggle="pill" href="#v-pills-clasf-administrativa" role="tab" aria-controls="v-pills-clasf-administrativa" aria-selected="false" (click)="buscarPresupuestoPorClasificacion('ClasfAdministrativa', $event.target.text)">Clasificación Administrativa</a>
                                            <a class="nav-link" id="v-pills-clasf-programatica-tab" data-toggle="pill" href="#v-pills-clasf-programatica" role="tab" aria-controls="v-pills-clasf-programatica" aria-selected="false" (click)="buscarPresupuestoPorClasificacion('ClasfProgramatica', $event.target.text)">Clasificación Programatica</a>
                                            <a class="nav-link" id="v-pills-clasf-fuente-financiamiento-tab" data-toggle="pill" href="#v-pills-clasf-fuente-financiamiento" role="tab" aria-controls="v-pills-clasf-fuente-financiamiento" aria-selected="false" (click)="buscarPresupuestoPorClasificacion('ClasfFuenteFinanciamiento', $event.target.text)">Clasificación Por fuente de financiamiento</a>
                                            <a class="nav-link" id="v-pills-clasf-unidades-administrativa-tab" data-toggle="pill" href="#v-pills-clasf-unidades-administrativa" role="tab" aria-controls="v-pills-clasf-unidades-administrativa" aria-selected="false" (click)="buscarPresupuestoPorClasificacion('ClasfUnidadesAdministrativa', $event.target.text)">Clasificación Unidades Administrativa</a>
                                            <a class="nav-link" id="v-pills-clasf-centros-costos-tab" data-toggle="pill" href="#v-pills-clasf-centros-costos" role="tab" aria-controls="v-pills-clasf-centros-costos" aria-selected="false" (click)="buscarPresupuestoPorClasificacion('ClasfCentrosCostos', $event.target.text)">Clasificación Centros Costos</a>
                                        </div>
                                        <div class="text-center m-3">
                                            <button type="button" class="btn btn-sm text-white m-1" [ngStyle]="{'background-color':'orange'}" (click)="downloadClasificacionPDF()">
                                                <i class="fa fa-print"></i> Imprimir
                                            </button>
                                            <button type="button" class="btn btn-sm text-white m-1" [ngStyle]="{'background-color':'red'}" (click)="seeClasificacionPDF()">
                                                <i class="fa fa-eye"></i> Mostrar PDF
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane show active animeted fadeIn" id="v-pills-clasf-obj-gasto" role="tabpanel" aria-labelledby="v-pills-clasf-obj-gasto-tab">
                                                <div class="align-middle text-center h3 font-weight-bold">
                                                    Clasificación Por Objeto De Gasto {{ egresoPropioPrincipal.anio }}
                                                    <p><small>({{ egresoPropioPrincipal.nombre_centro_costo }})</small></p>
                                                </div>
                                                <app-table-clasificacion [datosClasificacion]="clasificaciones"></app-table-clasificacion>
                                            </div>
                                            <div class="tab-pane animeted fadeIn" id="v-pills-clasf-tipo-gasto" role="tabpanel" aria-labelledby="v-pills-clasf-tipo-gasto-tab">
                                                <div class="align-middle text-center h3 font-weight-bold">
                                                    Clasificación Por Tipo De Gasto {{ egresoPropioPrincipal.anio }}
                                                    <p><small>({{ egresoPropioPrincipal.nombre_centro_costo }})</small></p>
                                                </div>
                                                <app-table-clasificacion [datosClasificacion]="clasificaciones"></app-table-clasificacion>
                                            </div>
                                            <div class="tab-pane animeted fadeIn" id="v-pills-clasf-administrativa" role="tabpanel" aria-labelledby="v-pills-clasf-administrativa-tab">
                                                <div class="align-middle text-center h3 font-weight-bold">
                                                    Clasificación Administrativa {{ egresoPropioPrincipal.anio }}
                                                    <p><small>({{ egresoPropioPrincipal.nombre_centro_costo }})</small></p>
                                                </div>
                                                <app-table-clasificacion [datosClasificacion]="clasificaciones"></app-table-clasificacion>
                                            </div>
                                            <div class="tab-pane animeted fadeIn" id="v-pills-clasf-programatica" role="tabpanel" aria-labelledby="v-pills-clasf-programatica-tab">
                                                <div class="align-middle text-center h3 font-weight-bold">
                                                    Clasificación Programatica {{ egresoPropioPrincipal.anio }}
                                                    <p><small>({{ egresoPropioPrincipal.nombre_centro_costo }})</small></p>
                                                </div>
                                                <app-table-clasificacion [datosClasificacion]="clasificaciones"></app-table-clasificacion>
                                            </div>
                                            <div class="tab-pane animeted fadeIn" id="v-pills-clasf-fuente-financiamiento" role="tabpanel" aria-labelledby="v-pills-clasf-fuente-financiamiento-tab">
                                                <div class="align-middle text-center h3 font-weight-bold">
                                                    Clasificación Por Fuente Financiamiento {{ egresoPropioPrincipal.anio }}
                                                    <p><small>({{ egresoPropioPrincipal.nombre_centro_costo }})</small></p>
                                                </div>
                                                <app-table-clasificacion [datosClasificacion]="clasificaciones"></app-table-clasificacion>
                                            </div>
                                            <div class="tab-pane animeted fadeIn" id="v-pills-clasf-unidades-administrativa" role="tabpanel" aria-labelledby="v-pills-clasf-unidades-administrativa-tab">
                                                <div class="align-middle text-center h3 font-weight-bold">
                                                    Clasificación Unidades Administrativa {{ egresoPropioPrincipal.anio }}
                                                    <p><small>({{ egresoPropioPrincipal.nombre_centro_costo }})</small></p>
                                                </div>
                                                <app-table-clasificacion [datosClasificacion]="clasificaciones"></app-table-clasificacion>
                                            </div>
                                            <div class="tab-pane animeted fadeIn" id="v-pills-clasf-unidades-centros-costos" role="tabpanel" aria-labelledby="v-pills-clasf-centros-costos-tab">
                                                <div class="align-middle text-center h3 font-weight-bold">
                                                    Clasificación Centros Costos {{ egresoPropioPrincipal.anio }}
                                                    <p><small>({{ egresoPropioPrincipal.nombre_centro_costo }})</small></p>
                                                </div>
                                                <app-table-clasificacion [datosClasificacion]="clasificaciones"></app-table-clasificacion>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="autorizacionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación de autorización</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Esta seguro de la autorización de presupuesto de egresos</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rechazarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación de rechazado presupuesto de egreso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Esta seguro de la autorización de presupuesto de egresos</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->