<!-- Breadcrumb -->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Presupuestos de egresos</li>
        <li class="breadcrumb-item"> Presupuestos de egreso</li>
    </ol>
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-md-8 text-center text-sm-left  h5 font-weight-bold">
                            <i class="fa fa-list"></i> Presupuesto de egreso {{ anioPresEgreso }}
                        </div>
                        <div class="col-12 col-md-4 text-center text-sm-right">
                            <button class="btn btn-outline-primary mt-2 btn-sm" type="button" [routerLink]="['/panel-adm/pres_egresos']">
                                <i class="fa fa-arrow-circle-left "></i> Regresar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body ">

                    <ng-template #alert>
                        <div class="alert alert-warning text-center" role="alert">
                            <i class="fa fa-exclamation-triangle fa-lg"></i> {{ mensajeAlert }}
                        </div>
                    </ng-template>

                    <div *ngIf="proyectos != null; else alert" class="table-responsive ">
                        <table class="table table-striped table-bordered table-sm ">
                            <thead>
                                <tr>
                                    <th class="align-middle text-center h2 font-weight-bold" colspan="22">Presupuesto de egresos</th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-center " rowspan="4">#</th>
                                    <th class="align-middle text-center " rowspan="4">Año</th>
                                    <th class="align-middle text-center " colspan="20">Proyectos</th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-center " rowspan="3">Código</th>
                                    <th class="align-middle text-center " rowspan="3">Nombre</th>
                                    <th class="align-middle text-center " rowspan="3">Fecha Inicio</th>
                                    <th class="align-middle text-center " rowspan="3">Fecha Final</th>
                                    <th class="align-middle text-center " colspan="2">Subprograma</th>
                                    <th class="align-middle text-center " colspan="14">Fase</th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-center " rowspan="2">Código</th>
                                    <th class="align-middle text-center " rowspan="2">Nombre</th>

                                    <th class="align-middle text-center " rowspan="2">Código</th>
                                    <th class="align-middle text-center " rowspan="2">Nombre</th>
                                    <th class="align-middle text-center " rowspan="2">Descripción</th>

                                    <th class="align-middle text-center " colspan="2">Tipo FF</th>
                                    <th class="align-middle text-center " colspan="6">Ubicación Geográfica</th>
                                    <th class="align-middle text-center " colspan="3">Partida</th>

                                </tr>
                                <tr>
                                    <th class="align-middle text-center ">Código</th>
                                    <th class="align-middle text-center ">Nombre</th>

                                    <th class="align-middle text-center ">Estado</th>
                                    <th class="align-middle text-center ">Municipio</th>
                                    <th class="align-middle text-center ">Codigo Postal</th>
                                    <th class="align-middle text-center ">Asentamiento</th>
                                    <th class="align-middle text-center ">Tipo Asentamiento</th>
                                    <th class="align-middle text-center ">Domicilio</th>
                                    <th class="align-middle text-center ">Código</th>
                                    <th class="align-middle text-center ">Nombre</th>
                                    <th class="align-middle text-center ">Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let proyecto of proyectos; let i=index ">
                                    <!-- 19 columnas -->
                                    <td class="align-middle text-center" scope="row ">{{ i + 1 }}</td>
                                    <td class="align-middle text-center">{{ proyecto.anio }}</td>
                                    <td class="align-middle text-center">{{ proyecto.codigo_proyecto }}</td>
                                    <td class="align-middle">{{ proyecto.nombre_proyecto }}</td>
                                    <td class="align-middle text-center" nowrap>{{ proyecto.fecha_inicio }}</td>
                                    <td class="align-middle text-center" nowrap>{{ proyecto.fecha_final }}</td>
                                    <td class="align-middle text-center">{{ proyecto.codigo_subprograma }}</td>
                                    <td class="align-middle">{{ proyecto.nombre_subprograma }}</td>
                                    <td class="align-middle text-center">{{ proyecto.codigo_fase }}</td>
                                    <td class="align-middle">{{ proyecto.nombre_fase }}</td>
                                    <td class="align-middle">{{ proyecto.descripcion_fase }}</td>
                                    <td class="align-middle text-center">{{ proyecto.codigo_tipo_financ }}</td>
                                    <td class="align-middle">{{ proyecto.nombre_tipo_financ }}</td>
                                    <td class="align-middle text-center">{{ proyecto.estado }}</td>
                                    <td class="align-middle text-center">{{ proyecto.municipio }}</td>
                                    <td class="align-middle text-center">{{ proyecto.codigo_postal }}</td>
                                    <td class="align-middle text-center">{{ proyecto.asentamiento }}</td>
                                    <td class="align-middle text-center">{{ proyecto.tipo_asentamiento }}</td>
                                    <td class="align-middle">{{ proyecto.domicilio }}</td>
                                    <td class="align-middle text-center">{{ proyecto.codigo_partida }}</td>
                                    <td class="align-middle">{{ proyecto.nombre_partida }}</td>
                                    <td class="align-middle">{{ proyecto.importe | currency }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <th class="align-middle text-right font-weight-bold " colspan="21">Total</th>
                                <th>{{ total | currency }}</th>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>