<!-- Breadcrumb-->
<div class="d-none d-sm-block">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Clasificación por objeto de gasto</li>
		<li class="breadcrumb-item active"> Conceptos</li>
	</ol>
</div>
	
<div class="container-fluid p-3">
	<div class="animated fadeIn">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card shadow">
					<div class="card-header">
						<div class="row">
							<div class="col-12 col-md-8 text-center text-sm-left  h5 font-weight-bold">
								<i class="fa fa-list"></i> Listado de conceptos
							</div>
							<div class="col-12 col-md-4 text-center text-sm-right">
								<button type="button" class="btn btn-success btn-sm mb-2"
									[routerLink]="['/panel-adm/conceptos', 'nuevo']">
									<i class="fa fa-plus-circle"></i>
									Agregar nuevo conceptos
								</button>
							</div>
						</div>
					</div>
						<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Código</th>
										<th scope="col">Nombre</th>
										<th scope="col">Estado</th>
										<th class="text-center" scope="col">Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngIf="conceptos.length==0; else tableBlock">
										<td colspan="5" class="text-center">
											<span class="badge badge-info">
												<h5>
													<i class="far fa-frown"></i>
													No hay elementos para mostrar.
												</h5>
											</span>
										</td>
									</tr>
									<ng-template #tableBlock>
										<tr *ngFor="let concepto of conceptos; let i = index">
											<td>{{ i+1 }}</td>
											<td>{{ concepto.codigo }}</td>
											<td>{{ concepto.nombre }}</td>
											<td>
												<span *ngIf="concepto.status; else inactiveBlock"
													class="badge badge-success">
													Activo
												</span>
												<ng-template #inactiveBlock>
													<span class="badge badge-secondary">Inactivo</span>
												</ng-template>
											</td>
											<td class="text-center">
												<button type="button" class="btn btn-info text-white btn-sm w-auto mb-1 ml-1"
													data-toggle="modal" data-target="#conceptoModal"
													(click)="detalle=concepto">
													<i class="fa fa-eye"></i>
													Ver detalle
												</button>
												<button type="button" class="btn btn-primary btn-sm w-auto mb-1 ml-1"
													[routerLink]="['/panel-adm/conceptos', concepto.id]"
													[disabled]="!concepto.status">
													<i class="fa fa-edit"></i>
													Editar
												</button>
												<button 
												(click)="eliminarActivar(concepto.id, false)"
												*ngIf="concepto.status" type="button" class="btn btn-danger btn-sm w-auto mb-1 ml-1">
													<i class="fa fa-trash"></i>
													Eliminar
												</button>
												<button 
												(click)="eliminarActivar(concepto.id, true)"
												*ngIf="!concepto.status" type="button" class="btn btn-success btn-sm w-auto mb-1 ml-1">
													<i class="fa fa-arrow-circle-up"></i>
													Activar
												</button>
											</td>
										</tr>
									</ng-template>
								</tbody>
								</table>
								<div class="modal fade" id="conceptoModal" tabindex="-1" role="dialog"
									aria-labelledby="" aria-hidden="true">
								<div class="modal-dialog modal_class" role="document">
									<div class="modal-content ">
										<div class="modal-header">
											<h5 class="modal-title" id="">
												Información detallada del concepto
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-12">
													<div class="form-group row">
														<label for="codigo" class="col-sm-2 col-form-label">
															Código:
														</label>
														<div class="col-10">
															<input type="text" readonly class="form-control-plaintext"
																[(ngModel)]="detalle.codigo">
														</div>
													</div>
													<div class="form-group row">
														<label for="nombre" class="col-sm-2 col-form-label">
															Nombre:
														</label>
														<div class="col-10">
															<input type="text" readonly class="form-control-plaintext"
																[(ngModel)]="detalle.nombre">
														</div>
													</div>
													<div class="form-group row">
														<label for="capitulo" class="col-sm-2 col-form-label">
															Nombre del capítulo:
														</label>
														<div class="col-10">
															<input type="text" readonly class="form-control-plaintext"
																[(ngModel)]="detalle.nombre_capitulo">
														</div>
													</div>
													<div class="form-group row">
														<label for="capitulo" class="col-sm-2 col-form-label">
															Tipo de gasto:
														</label>
														<div class="col-10">
															<input type="text" readonly class="form-control-plaintext"
																[(ngModel)]="detalle.nombre_gasto">
														</div>
													</div>
													<div class="form-group row">
														<label for="estado" class="col-sm-2 col-form-label">
															Estado:
														</label>
														<div class="col-10">
															<span *ngIf="detalle.status; else inactiveBlock"
																class="badge badge-success">
																Activo
															</span>
															<ng-template #inactiveBlock>
																<span class="badge badge-secondary">Inactivo</span>
															</ng-template>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">
												Cerrar
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
					</div>
				</div><!-- /.card-->
			</div><!-- /.col-->
		</div><!-- /.row-->
	</div>
</div>