<!-- Breadcrumb-->
<div class="d-none d-sm-block">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Clasificación  por objeto de gasto</li>
		<li class="breadcrumb-item"><a [routerLink]="['/panel-adm/conceptos']"> Conceptos</a></li>
		<li class="breadcrumb-item active"> Concepto</li>
	</ol>
</div>

<div class="container-fluid p-3">
	<div class="animated fadeIn">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card shadow">
					<form #f="ngForm" (ngSubmit)="guardar(f)">
						<div class="card-header">
							<div class="row text-center text-sm-left">
								<div class="col-12 col-md-8 text-md-left h5 font-weight-bold">
									<span *ngIf="concepto.id!=''">
										<i class="fa fa-edit"></i><strong> Editar un concepto</strong>
									</span>
									<span *ngIf="concepto.id==''">
										<i class="fa fa-plus-circle"></i><strong> Crear un concepto</strong>
									</span>
								</div>
								<div class="col-12 col-md-4 text-center text-sm-right">
									<button class="btn btn-outline-primary mt-2 btn-sm" type="button"
										[routerLink]="['/panel-adm/conceptos']">
										<i class="fa fa-arrow-circle-left"></i>
										Regresar
									</button>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group row">
								<label for="codigo" class="col-sm-2 col-form-label">
									Código
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="Ingresa el codigo" required
									name="codigo" [(ngModel)]="concepto.codigo"
									required>
								</div>
							</div>
							<div class="form-group row">
								<label for="nombre" class="col-sm-2 col-form-label">
									Nombre
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="Ingresa el nombre" required
									name="nombre" [(ngModel)]="concepto.nombre" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="capitulo" class="col-sm-2 col-form-label">
									Capítulo
								</label>
								<div class="col-sm-10">
									<select class="form-control" name="capitulo"
										[(ngModel)]="concepto.id_capitulo" required>
										<option value="">Seleccione un capítulo</option>
										<option *ngFor="let capitulo of capitulos" [value]="capitulo.id">
											{{ capitulo.codigo + ' ' +capitulo.nombre }}
										</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="gasto" class="col-sm-2 col-form-label">
									Tipo de gasto
								</label>
								<div class="col-sm-10">
									<select class="form-control" name="gasto"
										[(ngModel)]="concepto.id_gasto" required>
										<option value="">Seleccione un capítulo</option>
										<option *ngFor="let gasto of gastos" [value]="gasto.id">
											{{ gasto.id + ' ' + gasto.nombre }}
										</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for=status class="col-sm-2 col-form-label">
									Estado
								</label>
								<div class="col-sm-10 text-center text-sm-left">
									<span class="badge badge-success">
										Activo
									</span>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="form-group row">
								<div class="col-12">
									<button class="btn btn-primary btn-sm pull-right" type="submit" [disabled]="f.invalid || !f.dirty">
									<i class="fa fa-save"></i>
										Guardar
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row-->
	</div>
</div>