<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="panels shadow">
                <section class="content-header">
                    <h2>
                        Proyectos.
                    </h2>
                </section>

                <section class="content container-fluid">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">#</th>
                                    <th class="text-center" scope="col">Proyecto</th>
                                    <th class="text-center" scope="col">Total</th>
                                    <th class="text-center" scope="col">Ampliar/Reducir</th>
                                    <th class="text-center" scope="col">Tranferir</th>
                                    <th class="text-center" scope="col">Ver Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="proyectos.length==0; else tableBlock">
                                    <td colspan="4" class="text-center">
                                        <span class="badge badge-info">
                                        <h5>
                                          <i class="far fa-frown"></i>
                                          No hay elementos para mostrar.
                                        </h5>
                                      </span>
                                    </td>
                                </tr>
                                <ng-template #tableBlock>
                                    <tr *ngFor="let proyecto of proyectos; let i = index">
                                        <td class="text-center">{{ i+1 }}</td>
                                        <td class="text-center" width="40%">{{ proyecto.nombre }}</td>
                                        <td class="text-center" width="10%">{{ proyecto.importe }}</td>

                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm ml-3" data-toggle="modal" data-target="#ampliar" (click)="getPartidas(proyecto.id);">
                                            <i class="fas fa-plus"></i> | <i class="fas fa-minus"></i>
                                        </button>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm ml-3" data-toggle="modal" data-target="#transferir" (click)="getPartidas(proyecto.id);">
                                            <i class="fas fa-exchange-alt"></i>
                                            Tranferir
                                        </button>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info btn-sm ">
                                                <i class="fas fa-eye"></i>
                                                Ver detalle
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                        <div class="modal fade" id="ampliar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal1_class" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Aumentar o Reducir Saldos
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div>
                                                    <div>
                                                        <table class="col-12" cellspacing="1" cellpadding="1">
                                                            <tr>
                                                                <th class="text-center">Partida</th>
                                                                <th class="text-center">Saldo Actual</th>
                                                                <th class="text-center">Nuevo Saldo</th>
                                                                <th class="text-center">Mensaje</th>

                                                            </tr>
                                                            <tr *ngFor="let partida of partidas; let i = index">
                                                                <td class="text-center">{{partida.nombre}}</td>
                                                                <td class="text-center" width="15%">{{ saldo_inicial[i] | currency }}</td>
                                                                <td class="text-center" width="25%">
                                                                    <input type="number" (input)="mensaje(partidas[i].saldo, i)" [(ngModel)]="partidas[i].saldo" minlength="1" maxlength="16" class="form-control" value="{{partida.saldo}}">
                                                                </td>
                                                                <td class="text-center text-info" *ngIf="bandera[i] == 1" width="20%">
                                                                    <i class="fas fa-equals"></i> Sin cambios <i class="fas fa-equals"></i>
                                                                </td>
                                                                <td class="text-center text-green" *ngIf="bandera[i] == 2" width="20%">
                                                                    <i class="fas fa-arrow-up"></i> Ampliación <i class="fas fa-arrow-up"></i>
                                                                </td>
                                                                <td class="text-center text-red" *ngIf="bandera[i] == 3" width="20%">
                                                                    <i class="fas fa-arrow-down"></i> Reducción <i class="fas fa-arrow-down"></i>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-center"></th>
                                                                <th class="text-center"></th>
                                                                <th class="text-right">
                                                                    <hr>
                                                                </th>
                                                                <th class="text-center">
                                                                    <hr>
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-center"></th>
                                                                <th class="text-center"></th>
                                                                <th class="text-right">Total:</th>
                                                                <th class="text-center">{{ nuevoTotal_proyecto | currency }}</th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" (click)="enviar()">
                                            <i class="fas fa-save"></i>
                                            Guardar
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="transferir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal2_class">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Tranferencias
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-7">
                                                <table class="col-12" cellspacing="1" cellpadding="1">
                                                    <tr>
                                                        <th class="text-right"></th>
                                                        <th class="text-center"><br></th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right">
                                                            <hr>
                                                        </th>
                                                        <th class="text-center">
                                                            <hr>
                                                        </th>
                                                        <th class="text-center">
                                                            <hr>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center text-green" colspan="3"><i class="fas fa-arrow-up"></i> Aumento <i class="fas fa-arrow-up"></i></th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right">
                                                            <hr>
                                                        </th>
                                                        <th class="text-right">
                                                            <hr>
                                                        </th>
                                                        <th class="text-center">
                                                            <hr>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center">Saldo Original</th>
                                                        <th class="text-center">Partida</th>
                                                        <th class="text-center">Saldo</th>
                                                    </tr>
                                                    <tr *ngFor="let partida of partidas; let i = index">
                                                        <td class="text-center" width="25%">{{ partidasOriginal[i].saldo | currency }}</td>
                                                        <td class="text-center">{{partida.nombre}}</td>
                                                        <td class="text-center" width="25%">
                                                            <input type="number" (input)="disabled1(i);" [(ngModel)]="partidas[i].saldo" minlength="1" maxlength="16" class="form-control" value="{{partida.saldo}}" disabled="{{ banderaDisabled1[i] }}">
                                                            <div *ngIf="banderaMensaje1[i]">
                                                                <small class="text-red">Solo aumento</small>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-5">
                                                <table class="col-12" cellspacing="1" cellpadding="1">
                                                    <tr>
                                                        <th class="text-right">Diferencia: </th>
                                                        <th class="text-center text-info" *ngIf="banderaDiferencia == 1">{{ diferencia | currency }}</th>
                                                        <th class="text-center text-green" *ngIf="banderaDiferencia == 2">{{ diferencia | currency }}</th>
                                                        <th class="text-center text-red" *ngIf="banderaDiferencia == 3">{{ diferencia | currency }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right">
                                                            <hr> </th>
                                                        <th class="text-center">
                                                            <hr>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center text-red" colspan="2"><i class="fas fa-arrow-down"></i> Disminución <i class="fas fa-arrow-down"></i></th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right">
                                                            <hr>
                                                        </th>
                                                        <th class="text-center">
                                                            <hr>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center">Partida</th>
                                                        <th class="text-center">Saldo</th>

                                                    </tr>
                                                    <tr *ngFor="let partida of partidas; let i = index">
                                                        <td class="text-center">{{partida.nombre}}</td>
                                                        <td class="text-center" width="25%">
                                                            <input type="number" (input)="disabled2(i);" [(ngModel)]="partidas[i].saldo" minlength="1" maxlength="16" class="form-control" value="{{partida.saldo}}" disabled="{{banderaDisabled2[i]}}">
                                                            <div *ngIf="banderaMensaje2[i]">
                                                                <small class="text-red">Solo disminución</small>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <tr>
                                                <th class="text-right">Total Original:&nbsp;</th>
                                                <th class="text-center">{{ total_proyecto | currency }}</th>
                                            </tr>
                                            <tr>
                                                <th class="text-right">Total Actual:&nbsp;</th>
                                                <th class="text-center" *ngIf="!banderaTotal">{{ nuevoTotal_proyecto | currency }}</th>
                                                <th class="text-center text-red" *ngIf="banderaTotal">{{ nuevoTotal_proyecto | currency }}</th>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-success" (click)="enviar()" *ngIf="banderaButton">
                                            <i class="fas fa-save"></i>
                                            Guardar
                                        </button>
                                        <button type="button" class="btn btn-success" (click)="enviar()" *ngIf="!banderaButton" disabled>
                                            <i class="fas fa-save"></i>
                                            Guardar
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<br><br><br>