<!-- Breadcrumb-->
<div class="d-none d-sm-block">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Clasificación administrativa</li>
		<li class="breadcrumb-item active"> Subeconomías</li>
	</ol>
</div>
	
<div class="container-fluid p-3">
	<div class="animated fadeIn">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card shadow">
					<div class="card-header">
						<div class="row">
							<div class="col-12 col-md-8 text-center text-sm-left h5 font-weight-bold">
								<i class="fa fa-list"></i> Listado de subeconomías
							</div>
							<div class="col-12 col-md-4 text-center text-sm-right">
								<button type="button" class="btn btn-success btn-sm mb-2"
									[routerLink]="['/panel-adm/subeconomias', 'nuevo']">
									<i class="fa fa-plus-circle"></i>
									Agregar nueva subeconomía
								</button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Código</th>
										<th scope="col">Nombre</th>
										<th scope="col">Estado</th>
										<th class="text-center" scope="col">Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngIf="subeconomias.length==0; else tableBlock">
										<td colspan="5" class="text-center">
										<span class="badge badge-info">
											<h5>
											<i class="far fa-frown"></i>
											No hay elementos para mostrar.
											</h5>
										</span>
										</td>
									</tr>
									<ng-template #tableBlock>
										<tr *ngFor="let subeconomia of subeconomias; let i = index">
											<td>{{ i+1 }}</td>
											<td>{{ subeconomia.codigo }}</td>
											<td>{{ subeconomia.nombre }}</td>
											<td>
												<span *ngIf="subeconomia.status; else inactiveBlock"
													class="badge badge-success">
													Activo
												</span>
												<ng-template #inactiveBlock>
													<span class="badge badge-secondary">Inactivo</span>
												</ng-template>
											</td>
											<td class="text-center">
												<button type="button" class="btn btn-info btn-sm text-white w-auto mb-1 ml-1"
													data-toggle="modal" data-target="#subeconomiaModal"
													(click)="detalle=subeconomia">
													<i class="fa fa-eye"></i>
													Ver detalle
												</button>
												<button type="button" class="btn btn-primary btn-sm  w-auto mb-1 ml-1"
												[routerLink]="['/panel-adm/subeconomias', subeconomia.id]"[disabled]="!subeconomia.status">
													<i class="fa fa-edit"></i>
													Editar
												</button>
												<button *ngIf="subeconomia.status" type="button" class="btn btn-danger btn-sm w-auto mb-1 ml-1"
												(click)="eliminarActivar(subeconomia.id, false)">
													<i class="fa fa-trash"></i>
													Eliminar
												</button>
												<button *ngIf="!subeconomia.status" type="button" class="btn btn-success btn-sm w-auto mb-1 ml-1"
													(click)="eliminarActivar(subeconomia.id, true)">
													<i class="fa fa-arrow-circle-up"></i>
													Activar
												</button>
											</td>
										</tr>
									</ng-template>
								</tbody>
							</table>
						</div>
	
						<div class="modal fade" id="subeconomiaModal" tabindex="-1" role="dialog"
							aria-labelledby="" aria-hidden="true">
							<div class="modal-dialog modal_class" role="document">
								<div class="modal-content ">
									<div class="modal-header">
										<h5 class="modal-title" id="">
											Información detallada de la subeconomía
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-12">
												<div class="form-group row">
													<label for="" class="col-sm-2 col-form-label font-weight-bold">
														Código:
													</label>
													<div class="col-sm-10">
														<p>{{ detalle.codigo }}</p>
													</div>
												</div>
												<div class="form-group row">
													<label for="" class="col-sm-2 col-form-label font-weight-bold">
														Nombre:
													</label>
													<div class="col-sm-10">
														<p>{{ detalle.nombre }}</p>
													</div>
												</div>
												<div class="form-group row">
													<label for="" class="col-sm-2 col-form-label font-weight-bold">
														Sector:
													</label>
													<div class="col-sm-10">
														<p>{{ detalle.nombre_sector }}</p>
													</div>
												</div>
												<div class="form-group row">
													<label for="" class="col-sm-2 col-form-label font-weight-bold">
														Financiero:
													</label>
													<div class="col-sm-10">
														<p>{{ detalle.nombre_financiero }}</p>
													</div>
												</div>
												<div class="form-group row">
													<label for="" class="col-sm-2 col-form-label font-weight-bold">
														Economía:
													</label>
													<div class="col-sm-10">
														<p>{{ detalle.nombre_economia }}</p>
													</div>
												</div>
												<div class="form-group row">
													<label for="" class="col-sm-2 col-form-label font-weight-bold">
														Estado:
													</label>
													<div class="col-sm-10">
														<span *ngIf="detalle.status; else inactiveBlock"
															class="badge badge-success">
															Activo
														</span>
														<ng-template #inactiveBlock>
															<span class="badge badge-secondary">Inactivo</span>
														</ng-template>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">
											Cerrar
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
					</div>
				</div><!-- /.card-->
			</div><!-- /.col-->
		</div><!-- /.row-->
	</div>
</div>