<!-- Breadcrumb-->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Unidades internas</li>
        <li class="breadcrumb-item active"> Unidades administrativas</li>
    </ol>
</div>

<div class="container-fluid p-3">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-md-8 text-center text-sm-left h5 font-weight-bold">
                                <i class="fa fa-list"></i> Listado de unidades administrativas
                            </div>
                            <div class="col-12 col-md-4 text-center text-sm-right">
                                <button type="button" class="btn btn-success btn-sm mb-2" [routerLink]="['/panel-adm/unidadAdmin', 'nuevo']">
                                    <i class="fa fa-plus-circle"></i>
                                    Agregar nueva unidad
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Estado</th>
                                        <th class="text-center" scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="unidades.length==0; else tableBlock">
                                        <td colspan="6" class="text-center">
                                            <span class="badge badge-info">
                                                <h5>
                                                <i class="far fa-frown"></i>
                                                No hay elementos para mostrar.
                                                </h5>
                                            </span>
                                        </td>
                                    </tr>
                                    <ng-template #tableBlock>
                                        <tr *ngFor="let unidad of unidades; let i = index">
                                            <td>{{ i+1 }}</td>
                                            <td>{{ unidad.codigo }}</td>
                                            <td>{{ unidad.nombre }}</td>
                                            <td>{{ unidad.desc }}</td>
                                            <td>
                                                <span *ngIf="unidad.status; else inactiveBlock" class="badge badge-success">
                                                    Activo
                                                </span>
                                                <ng-template #inactiveBlock>
                                                    <span class="badge badge-secondary">Inactivo</span>
                                                </ng-template>
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-info btn-sm text-white" data-toggle="modal" data-target="#unidadModal" (click)="info(unidad)">
                                                    <i class="fa fa-eye"></i>
                                                    Ver detalle
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm ml-3" [routerLink]="['/panel-adm/unidadAdmin', unidad.id]" [disabled]="!unidad.status">
                                                    <i class="fa fa-edit"></i>
                                                    Editar
                                                </button>
                                                <button *ngIf="unidad.status" type="button" class="btn btn-danger btn-sm ml-3" (click)="eliminarActivar(unidad.id, false)">
                                                    <i class="fa fa-trash"></i>
                                                    Eliminar
                                                    </button>
                                                <button *ngIf="!unidad.status" class="btn btn-success btn-sm w-auto btn-sm ml-3" type="button" (click)="eliminarActivar(unidad.id, true)">
                                                    <i class="fa fa-arrow-circle-up"></i>
                                                    Activar
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <div class="modal fade" id="unidadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal_class" role="document">
                                    <div class="modal-content ">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                Información detallada del empresa
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-3 col-form-label">
                                                            Empresa:
                                                        </label>
                                                        <div class="col-9">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.nom_emp">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-3 col-form-label">
                                                                Código:
                                                            </label>
                                                        <div class="col-9">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.codigo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-3 col-form-label">
                                                                Nombre Unidad:
                                                            </label>
                                                        <div class="col-9">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.nombre">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-3 col-form-label">
                                                                Descripción:
                                                            </label>
                                                        <div class="col-9">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.desc">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-3 col-form-label">
                                                            Estado:
                                                        </label>
                                                        <div class="col-9">
                                                            <span *ngIf="detalle.status; else inactiveBlock" class="badge badge-success">
                                                                Activo
                                                            </span>
                                                            <ng-template #inactiveBlock>
                                                                <span class="badge badge-secondary">Inactivo</span>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cerrar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="card-footer">
					</div>
				</div><!-- /.card-->
            </div><!-- /.col-->
        </div><!-- /.row-->
    </div>
</div>