<!-- Breadcrumb-->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Unidades internas</li>
        <li class="breadcrumb-item"><a [routerLink]="['/panel-adm/unidadesAdmin']"> Unidades administrativas</a></li>
        <li class="breadcrumb-item active"> Unidad Administrativa</li>
    </ol>
</div>

<div class="container-fluid p-3">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow">
                    <form #f="ngForm" (ngSubmit)="guardar(f)">
                        <div class="card-header">
                            <div class="row text-center text-sm-left">
                                <div class="col-12 col-md-8 text-md-left h5 font-weight-bold">
                                    <span *ngIf="id!=''">
                                        <i class="fa fa-edit"></i><strong> Editar una unidad administrativa</strong>
                                    </span>
                                    <span *ngIf="id==''">
                                        <i class="fa fa-plus-circle"></i><strong> Crear una unidad administrativa</strong>
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 text-center text-sm-right">
                                    <button class="btn btn-outline-primary mt-2 btn-sm" type="button" [routerLink]="['/panel-adm/unidadesAdmin']">
                                        <i class="fa fa-arrow-circle-left"></i>
                                        Regresar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="staticEmail" class="col-sm-12 col-form-label">Empresa</label>
                                    <div class="col-sm-12">
                                        <select [(ngModel)]="unidad.id_empresa" name="id_empresa" class="form-control">
                                            <option *ngFor="let empresa of emps_unidades;" [value]="empresa.id">{{empresa.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label for="staticEmail" class="col-sm-12 col-form-label">Nombre</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el nombre" [(ngModel)]="unidad.nombre" name="nombre">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label for="staticEmail" class="col-sm-12 col-form-label">Descripción</label>
                                    <div class="col-sm-12">
                                        <textarea type="text" class="form-control" placeholder="Ingresa una descripción" [(ngModel)]="unidad.desc" name="desc"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group row">
                                <div class="col-12">
                                    <button class="btn btn-primary btn-sm pull-right" type="submit" [disabled]="!forma.valid">
                                        <i class="fa fa-save"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row-->
    </div>
</div>