<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="panels shadow">
                <section class="content-header">
                    <div class="row">
                        <div class="col-8">
                            <h2 *ngIf="id!='nuevo'">
                                Editar una Unidad Administrativa
                            </h2>
                            <h2 *ngIf="id=='nuevo'">
                                Crear una Unidad Administrativa
                            </h2>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-primary mt-2 btn-sm pull-right" type="button" [routerLink]="['/panel-adm/unidadesAdmin']">
                              <i class="fas fa-arrow-circle-left"></i>
                              Regresar
                            </button>
                        </div>
                    </div>

                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-folder-open"></i> Unidades Internas
                        </li>
                        <li>
                            Unidades Administrativas
                        </li>
                    </ol>
                </section>

                <section class="content container-fluid">
                    <form #forma="ngForm" (ngSubmit)="guardar()">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="staticEmail" class="col-sm-12 col-form-label">Empresa</label>
                                <div class="col-sm-12">
                                    <select [(ngModel)]="unidad.id_empresa" name="id_empresa" class="form-control">
                                        <option *ngFor="let empresa of emps_unidades;" [value]="empresa.id">{{empresa.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label for="staticEmail" class="col-sm-12 col-form-label">Nombre</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el nombre" [(ngModel)]="unidad.nombre" name="nombre">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label for="staticEmail" class="col-sm-12 col-form-label">Descripcion</label>
                                <div class="col-sm-12">
                                    <textarea type="text" class="form-control" placeholder="Ingresa una descripcion" [(ngModel)]="unidad.desc" name="desc"></textarea>
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-12">
                                <button class="btn btn-primary pull-right" type="submit" [disabled]="!forma.valid">
                                  <i class="fas fa-save"></i>
                                  Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>