<div>
	<label>
		Capitulo
	</label>
	<div class="col-sm-10">
		<select class="form-control" name="capitulo"
			[ngModel]="data.id_capitulo"
			(change)="onChangeCapitulo($event.target.value)">
			<option value="">
				Seleccione un capitulo
			</option>
			<option *ngFor="let capitulo of capitulos"
				[value]="capitulo.id"
			>
				{{ capitulo.codigo + ' ' + capitulo.nombre }}
			</option>
		</select>
	</div>
</div>
 <div>
	<label>
		Concepto
	</label>
	<div class="col-sm-10">
		<select class="form-control" name="concepto"
			[ngModel]="data.id_concepto"
			(change)="onChangeConcepto($event.target.value)">
			<option value="">
				Seleccione un concepto
			</option>
			<option *ngFor="let concepto of conceptos"
				[value]="concepto.id">
				{{ concepto.codigo + ' ' + concepto.nombre }}
			</option>
		</select>
	</div>
</div>
<div>
	<label>
		Partidas
	</label>
	<div class="col-sm-10">
		<select class="form-control" name="partida"
			[ngModel]="data.id_partida"
			(change)="onChangePartida($event.target.value)">
			<option value="">
				Seleccione una partida
			</option>
			<option *ngFor="let partida of partidas"
				[value]="partida.id">
				{{ partida.codigo + ' ' + partida.nombre }}
			</option>
		</select>
	</div>
</div>