<div class="content-wrapper">
	<div class="row">
		<div class="col-12">
			<div class="panels shadow">
				<section class="content-header">
					<h2>
						Catalogo de presupuesto de egresos.
					</h2>
				</section>

				<section class="content container-fluid">

					<!-- ******** INICIO RICARDO ********* -->

					<app-cog
						[primary_keys]="keys"
						(out)="onData($event)"
					></app-cog>

					<!-- ******** FIN RICARDO ********* -->

					<!-- ******** INICIO CRISTY ********* -->




					<!-- ******** FIN CRISTY ********* -->

					<!-- ******** INICIO PACO ********* -->



					<!-- ******** FIN PACO ********* -->
				</section>
			</div>
		</div>
	</div>
</div>