<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="panels shadow">

                <section class="content-header">
                    <h2>
                        Listado de los Empresas
                    </h2>
                    <ol class="breadcrumb">
                        <li>
                            <a>
                                <i class="fa fa-folder-open"></i> Unidades Internas
                            </a>
                        </li>
                        <li>
                            <a>
                              Empresas
                            </a>
                        </li>
                    </ol>
                </section>

                <section class="content container-fluid">
                    <button type="button" class="btn btn-success btn-sm mb-2 pull-right" [routerLink]="['/panel-adm/empresa', 'nuevo']">
                      <i class="fas fa-plus-circle"></i>
                      Agregar nueva empresa
                    </button>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Estado</th>
                                    <th class="text-center" scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="empresas.length==0; else tableBlock">
                                    <td colspan="4" class="text-center">
                                        <span class="badge badge-info">
                                          <h5>
                                            <i class="far fa-frown"></i>
                                            No hay elementos para mostrar.
                                          </h5>
                                        </span>
                                    </td>
                                </tr>
                                <ng-template #tableBlock>
                                    <tr *ngFor="let empresa of empresas; let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ empresa.nombre }}</td>
                                        <td *ngIf="empresa.id_tipo_empresa == 1">Publica</td>
                                        <td *ngIf="empresa.id_tipo_empresa == 2">Privada</td>
                                        <td>
                                            <span *ngIf="empresa.status; else inactiveBlock" class="badge badge-success">
                                              Activo
                                            </span>
                                            <ng-template #inactiveBlock>
                                                <span class="badge badge-secondary">Inactivo</span>
                                            </ng-template>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/panel-adm/empresa', empresa.id]" [disabled]="!empresa.status">
                                              <i class="fas fa-edit"></i>
                                              Editar
                                            </button>
                                            <button *ngIf="empresa.status" type="button" class="btn btn-danger btn-sm ml-3" (click)="eliminar(empresa.id, i)">
                                              <i class="fas fa-trash"></i>
                                              Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>