<!-- Breadcrumb-->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Unidades internas</li>
        <li class="breadcrumb-item active"> Empresas</li>
    </ol>
</div>
    
<div class="container-fluid p-3">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-md-8 text-center text-sm-left h5 font-weight-bold">
                                <i class="fa fa-list"></i> Listado de Empresas
                            </div>
                            <div class="col-12 col-md-4 text-center text-sm-right">
                                <button type="button" class="btn btn-success btn-sm mb-2" [routerLink]="['/panel-adm/empresa', 'nuevo']">
                                    <i class="fa fa-plus-circle"></i>
                                    Agregar nueva empresa
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Estado</th>
                                        <th class="text-center" scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="empresas.length==0; else tableBlock">
                                        <td colspan="5" class="text-center">
                                            <span class="badge badge-info">
                                                <h5>
                                                <i class="far fa-frown"></i>
                                                No hay elementos para mostrar.
                                                </h5>
                                            </span>
                                        </td>
                                    </tr>
                                    <ng-template #tableBlock>
                                        <tr *ngFor="let empresa of empresas; let i = index">
                                            <td>{{ i+1 }}</td>
                                            <td>{{ empresa.nom_comercial }}</td>
                                            <td *ngIf="empresa.id_tipo_empresa == 1">Publica</td>
                                            <td *ngIf="empresa.id_tipo_empresa == 2">Privada</td>
                                            <td>
                                                <span *ngIf="empresa.status; else inactiveBlock" class="badge badge-success">
                                                    Activo
                                                </span>
                                                <ng-template #inactiveBlock>
                                                    <span class="badge badge-secondary">Inactivo</span>
                                                </ng-template>
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-info btn-sm text-white" data-toggle="modal" data-target="#empresaModal" (click)="info(empresa)">
                                                    <i class="fa fa-eye"></i>
                                                    Ver detalle
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm ml-3" [routerLink]="['/panel-adm/empresa', empresa.id]" [disabled]="!empresa.status">
                                                    <i class="fa fa-edit"></i>
                                                    Editar
                                                </button>
                                                <button *ngIf="empresa.status" type="button" class="btn btn-danger btn-sm ml-3" (click)="eliminarActivar(empresa.id, false)">
                                                    <i class="fa fa-trash"></i>
                                                    Eliminar
                                                </button>
                                                <button *ngIf="!empresa.status" type="button" class="btn btn-success btn-sm ml-3" (click)="eliminarActivar(empresa.id, true)">
                                                    <i class="fa fa-arrow-circle-up"></i>
                                                    Activar
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <div class="modal fade" id="empresaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal_class" role="document">
                                    <div class="modal-content ">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                Información detallada del empresa
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-2 col-form-label">
                                                            Nombre:
                                                        </label>
                                                        <div class="col-10">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.nombre">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-2 col-form-label">
                                                            Nombre Comercial:
                                                        </label>
                                                        <div class="col-10">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.nom_comercial">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-2 col-form-label">
                                                                Tipo:
                                                            </label>
                                                        <div class="col-10">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.nom_tipo_emp">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-2 col-form-label">
                                                                    Clas Administrativa:
                                                                </label>
                                                        <div class="col-10">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.nom_administrativa">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-2 col-form-label">
                                                            Ubicacion:
                                                        </label>
                                                        <div class="col-10">
                                                            <input type="text" readonly class="form-control-plaintext" value="Calle: {{ detalle.calle }}, Col. {{ detalle.colonia }}, {{ detalle.municipio }} {{ detalle.estado }}. ">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-2 col-form-label">
                                                                Telefono:
                                                            </label>
                                                        <div class="col-10">
                                                            <input type="text" readonly class="form-control-plaintext" [(ngModel)]="detalle.telefono">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-2 col-form-label">
                                                            Estado
                                                        </label>
                                                        <div class="col-10">
                                                            <span *ngIf="detalle.status; else inactiveBlock" class="badge badge-success">
                                                                Activo
                                                            </span>
                                                            <ng-template #inactiveBlock>
                                                                <span class="badge badge-secondary">Inactivo</span>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cerrar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="card-footer">
					</div>
				</div><!-- /.card-->
            </div><!-- /.col-->
        </div><!-- /.row-->
    </div>
</div>