<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="panels shadow">
                <section class="content-header">
                    <div class="row">
                        <div class="col-8">
                            <h2 *ngIf="id!='nuevo'">
                                Editar una Empresa
                            </h2>
                            <h2 *ngIf="id=='nuevo'">
                                Crear una Empresa
                            </h2>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-primary mt-2 btn-sm pull-right" type="button" [routerLink]="['/panel-adm/empresas']">
                              <i class="fas fa-arrow-circle-left"></i>
                              Regresar
                            </button>
                        </div>
                    </div>

                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-folder-open"></i> Unidades Internas
                        </li>
                        <li>
                            Empresas
                        </li>
                    </ol>
                </section>

                <section class="content container-fluid">
                    <form (ngSubmit)="guardar()">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="col-sm-12 col-form-label">Nombre: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el nombre" [(ngModel)]="empresa.nombre" name="nombre">
                                    <input type="hidden" [(ngModel)]="empresa.id" name="id">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-12 col-form-label">Nombre Comercial: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el nombre" [(ngModel)]="empresa.nom_comercial" name="nom_comercial">
                                    <input type="hidden" [(ngModel)]="empresa.id" name="id">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Tipo Empresa: </label>
                                <div class="col-sm-12">
                                    <select class="form-control" [(ngModel)]="empresa.id_tipo_empresa" name="id_tipo_empresa">
                                        <option value="0">Publica</option>
                                        <option value="1">Privada</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Clas Administrativa: </label>
                                <div class="col-sm-12">
                                    <select class="form-control" [(ngModel)]="empresa.id_clas_administrativa" name="id_clas_administrativa">
                                        <option *ngFor="let admin of admins; let i = index" [value]="i">{{ admin.nombre }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Tipo Persona:</label>
                                <div class="col-sm-12">
                                    <select class="form-control" [(ngModel)]="empresa.persona_moral" name="persona_moral">
                                        <option value="0">Moral</option>
                                        <option value="1">Fisica</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <input type="hidden" [(ngModel)]="empresa.id_info_gene" name="id_info_gene">
                            <div class="col-sm-3">
                                <label class="col-sm-12 col-form-label">Estado: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el estado" [(ngModel)]="empresa.estado" name="estado">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-sm-12 col-form-label">Municipio: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el municipio" [(ngModel)]="empresa.municipio" name="municipio">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-sm-12 col-form-label">Localidad:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el localidad" [(ngModel)]="empresa.localidad" name="localidad">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-sm-12 col-form-label">Codigo Postal:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el cp" [(ngModel)]="empresa.cp" name="cp">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Colonia: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el estado" [(ngModel)]="empresa.colonia" name="colonia">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Calle: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el municipio" [(ngModel)]="empresa.calle" name="calle">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">N° Exterior:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el localidad" [(ngModel)]="empresa.num_exterior" name="num_exterior">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label class="col-sm-12 col-form-label">Domicilio Interior: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el estado" [(ngModel)]="empresa.dom_interior" name="dom_interior">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">N° Interior: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el municipio" [(ngModel)]="empresa.num_interior" name="num_interior">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Telefono: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el telefono" [(ngModel)]="empresa.telefono" name="telefono">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Correo Electronico: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el correo" [(ngModel)]="empresa.correo" name="correo">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">RFC: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el RFC" [(ngModel)]="empresa.rfc" name="rfc">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">CURP: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el CURP" [(ngModel)]="empresa.curp" name="curp">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">IMSS SAR: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa la clave" [(ngModel)]="empresa.imss_sar" name="imss_sar">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">ISSSTE FOVISSSTE: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa la clave" [(ngModel)]="empresa.isste_foviste" name="isste_foviste">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="col-sm-12 col-form-label">URL Imagen: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa la imagen" [(ngModel)]="empresa.url_image" name="url_image">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="col-sm-12 col-form-label">REg Estatal: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa la imagen" [(ngModel)]="empresa.reg_estatal" name="reg_estatal">
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-12">
                                <button class="btn btn-primary pull-right" type="submit">
                                  <i class="fas fa-save"></i>
                                  Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>