<!-- Breadcrumb-->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Unidades Internas</li>
        <li class="breadcrumb-item"><a [routerLink]="['/panel-adm/empresa']"> Empresas</a></li>
        <li class="breadcrumb-item active"> Empresa</li>
    </ol>
</div>

<div class="container-fluid p-3">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow">
                    <form #f="ngForm">
                        <div class="card-header">
                            <div class="row text-center text-sm-left">
                                <div class="col-12 col-md-8 text-md-left h5 font-weight-bold">
                                    <span *ngIf="empresa.id!=''">
                                        <i class="fa fa-edit"></i><strong> Editar una empresa</strong>
                                    </span>
                                    <span *ngIf="empresa.id==''">
                                        <i class="fa fa-plus-circle"></i><strong> Crear una empresa</strong>
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 text-center text-sm-right">
                                    <button class="btn btn-outline-primary mt-2 btn-sm" type="button" [routerLink]="['/panel-adm/empresas']">
                                        <i class="fa fa-arrow-circle-left"></i>
                                        Regresar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label class="col-sm-12 col-form-label">Nombre: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el nombre" [(ngModel)]="info.nombre" name="nombre">
                                        <input type="hidden" [(ngModel)]="empresa.id" name="id">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-12 col-form-label">Nombre Comercial: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el nombre" [(ngModel)]="empresa.nom_comercial" name="nom_comercial">
                                        <input type="hidden" [(ngModel)]="empresa.id" name="id">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label class="col-sm-12 col-form-label">Tipo Empresa: </label>
                                    <div class="col-sm-12">
                                        <select class="form-control" [(ngModel)]="empresa.id_tipo_empresa" name="id_tipo_empresa">
                                            <option value="">Seleccione una opción...</option>
                                            <option value="1">Publica</option>
                                            <option value="2">Privada</option>
                                        </select>
                                    </div>
                                </div>                               
                                <div class="col-sm-3">
                                    <label class="col-sm-12 col-form-label">Tipo Persona:</label>
                                    <div class="col-sm-12">
                                        <select class="form-control" [(ngModel)]="empresa.persona_moral" name="persona_moral">
                                            <option value="">Seleccione una opción...</option>
                                            <option value="0">Moral</option>
                                            <option value="1">Fisica</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-12 col-form-label">Clas Administrativa: </label>
                                    <div class="col-sm-12">
                                        <select class="form-control" [(ngModel)]="empresa.id_clas_administrativa" name="id_clas_administrativa">
                                            <option value="">Seleccione una opción...</option>
                                            <option *ngFor="let admin of admins; let i = index" value="{{admin.id}}">{{ admin.nombre }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="col-sm-12 col-form-label">Telefono: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el telefono" [(ngModel)]="info.telefono" name="telefono" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-12 col-form-label">Correo Electronico: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el correo" [(ngModel)]="info.correo" name="correo" required>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-12 col-form-label">RFC: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el RFC" [(ngModel)]="info.rfc" name="rfc" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label class="col-sm-12 col-form-label">CURP: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el CURP" [(ngModel)]="info.curp" name="curp"required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-12 col-form-label">IMSS SAR: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa la clave" [(ngModel)]="empresa.imss_sar" name="imss_sar" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-12 col-form-label">ISSSTE FOVISSSTE: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa la clave" [(ngModel)]="empresa.isste_foviste" name="isste_foviste" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-12 col-form-label">Registro Estatal: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa la Clave" [(ngModel)]="empresa.reg_estatal" name="reg_estatal" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-header">
                            <div class="row text-center text-sm-left">
                                <div class="col-12 col-md-8 text-md-left h5 font-weight-bold">
                                    <i class="fa fa-map-marked-alt"></i><strong> Ubicación</strong>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <input type="hidden" [(ngModel)]="empresa.id_info_gene" name="id_info_gene">

                                <div class="col-sm-4">
                                    <label class="col-sm-12 col-form-label">Codigo Postal:</label>
                                    <div class="col-sm-12">
                                        <input type="number" class="form-control" placeholder="Ingrese el codigo postal" [(ngModel)]="ubicacion.cp"  name="cp" (change)="getUbicacion();" required>
                                        <label *ngIf="banderaDigitos" class="text-danger"><b>* Deben ser 5 Digitos</b></label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-12 col-form-label">Estado: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Esperando..." [(ngModel)]="ubicacion.estado" name="estado" required readonly>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-12 col-form-label">Municipio: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Esperando..." [(ngModel)]="ubicacion.municipio" name="municipio" required readonly>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label class="col-sm-12 col-form-label">Asentamiento:</label>
                                    <div class="col-sm-12">
                                        <select class="form-control" name="localidades" id="localidades" [(ngModel)]="info.id_ubicacion" [disabled]="banderaAsentamiento" required>
                                            <option value="">Selecciona una opción...</option>
                                            <option *ngFor="let asentamiento of ubicacion.asentamientos" value="{{asentamiento.id}}">{{ asentamiento.nombre_asentamiento }}</option>
                                        </select>
                                        <!-- <input type="text" class="form-control" placeholder="Esperando..." [(ngModel)]="ubicacion.localidad" name="localidad" required readonly>                                         -->
                                    </div>
                                </div>                                
                                                           
                                <div class="col-sm-7">
                                    <label class="col-sm-12 col-form-label">Dirección: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el Dirección..." [(ngModel)]="info.direccion" name="calle" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-12 col-form-label">N° Exterior:</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el N° Extrerior..." [(ngModel)]="info.num_exterior" name="num_exterior"required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-12 col-form-label">Domicilio Interior: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el Domicilio Interior..." [(ngModel)]="info.dom_interior" name="dom_interior">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-12 col-form-label">N° Interior: </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Ingresa el N° Interior..." [(ngModel)]="info.num_interior" name="num_interior">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="col-sm-12 col-form-label">URL Imagen: </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa la imagen" [(ngModel)]="empresa.url_img" name="url_image">
                                </div>
                            </div>
                        </div> -->
                        
                        <div class="card-footer">
                            <div class="form-group row">
                                <div class="col-12">
                                    <button class="btn btn-primary pull-right btn-sm" type="button" (click)="guardar(f);" [disabled]="f.invalid || !f.dirty">
                                        <i class="fa fa-save"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <!-- /.row-->
    </div>
</div>