<div>
    <label for="fuente" class="col-sm-2 col-form-label">
		Fuente
	</label>
    <div class="col-sm-10">
        <select class="form-control" name="fuente" [ngModel]="data.id_fuente" (change)="onChangeFuente($event.target.value)">
			<option value="">
				Seleccione una fuente
			</option>
			<option *ngFor="let fuente of fuentes"
				[value]="fuente.id"
			>
				{{ fuente.nombre }}
			</option>
		</select>
    </div>
</div>
<div>
    <label for="subfuente" class="col-sm-2 col-form-label">
		Subfuente
	</label>
    <div class="col-sm-10">
        <select class="form-control" name="subfuente" [ngModel]="data.id_subfuente" (change)="onChangeSubfuente($event.target.value)">
			<option value="">
				Seleccione una subfuente
			</option>
			<option *ngFor="let subfuente of subfuentes"
				[value]="subfuente.id"
			>
				{{ subfuente.nombre }}
			</option>
		</select>
    </div>
</div>

<div>
    <label for="tipo" class="col-sm-2 col-form-label">
		Tipos
	</label>
    <div class="col-sm-10">
        <select class="form-control" name="tipo" [ngModel]="data.id_tipo" (change)="onChangeTipo($event.target.value)">
			<option value="">
				Seleccione un tipo
			</option>
			<option *ngFor="let tipo of tipos"
				[value]="tipo.id"
			>
				{{ tipo.nombre }}
			</option>
		</select>
    </div>
</div>