@import "../node_modules/ngx-toastr/toastr.css";
a:hover {
    cursor: pointer;
    text-decoration: none;
}

.modal_class {
    /* width: 180% !important;
	margin-left: 20px !important; */
    max-width: 800px !important;
}

.modal2_class {
    /* width: 180% !important;
	margin-left: 20px !important; */
    max-width: 95% !important;
}

.modal_class_info {
    /* width: 180% !important;
	margin-left: 20px !important; */
    max-width: 80% !important;
}

.tabla-movs {
    max-height: 270px;
    border: 1px rgba(0, 0, 0, .7) solid;
    border-radius: 10px;
}


/*#toast-container>.toast-success {
     background-image: url('../src/app/shared/images/images.png')!important; 
}*/