<div>
	<label for="genero" class="col-sm-2 col-form-label">
		Generos
	</label>
	<div class="col-sm-10">
		<select class="form-control"  name="genero"
			[(ngModel)]="data.id_genero"
			(change)="onChangeGenero($event.target.value)"
			>
			<option value="">
				Seleccione un genero
			</option>
			<option *ngFor="let genero of generos" 
				[value]="genero.id">
				{{ genero.codigo + ' ' + genero.nombre }}
			</option>
		</select>
	</div>
</div>
<div>
	<label for="grupo" class="col-sm-2 col-form-label">
		Grupo
	</label>
	<div class="col-sm-10">
		<select class="form-control"  name="grupo"
			[(ngModel)]="data.id_grupo"
			(change)="onChangeGrupos($event.target.value)">
			<option value="">
				Seleccione un grupo
			</option>
			<option *ngFor="let grupo of grupos" 
				[value]="grupo.id">
				{{ grupo.codigo + ' ' + grupo.nombre }}
			</option>
		</select>
	</div>
</div>
<div>
	<label for="rubro" class="col-sm-2 col-form-label">
		Rubro
	</label>
	<div class="col-sm-10">
		<select class="form-control"  name="rubro"  
			[(ngModel)]="data.id_rubro"
			(change)="onChangeRubros($event.target.value)">
			<option value="">
				Seleccione un rubro
			</option>
			<option *ngFor="let rubro of rubros" 
			[value]="rubro.id">
				{{ rubro.codigo + ' ' + rubro.nombre }}
			</option>
		</select>
	</div>
</div>
<div>
	<label for="cuenta" class="col-sm-2 col-form-label">
		Cuenta
	</label>
	<div class="col-sm-10">
		<select class="form-control"  name="cuenta" 
			[(ngModel)]="data.id_cuenta"
			(change)="onChangeCuentas($event.target.value)">
			<option value="">
				Seleccione un cuenta
			</option>
			<option *ngFor="let cuenta of cuentas" [value]="cuenta.id">
				{{ cuenta.codigo + ' ' + cuenta.nombre }}
			</option>
		</select>
	</div>
</div>
<div>
	<label for="subcuenta" class="col-sm-2 col-form-label">
		Subcuenta
	</label>
	<div class="col-sm-10">
		<select class="form-control"  name="subcuenta"
			[(ngModel)]="data.id_subcuenta"
			(change)="onChangeSubcuentas($event.target.value)">
			<option value="">
				Seleccione un subcuenta
			</option>
			<option *ngFor="let subcuenta of subcuentas" [value]="subcuenta.id">
				{{ subcuenta.codigo + ' ' + subcuenta.nombre }}
			</option>
		</select>
	</div>
</div>