<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="panels shadow">
                <section class="content-header">
                    <div class="row">
                        <div class="col-8">
                            <h2 *ngIf="id!='nuevo'">
                                Editar un Centro de Trabajo
                            </h2>
                            <h2 *ngIf="id=='nuevo'">
                                Crear un Centro de Trabajo
                            </h2>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-primary mt-2 btn-sm pull-right" type="button" [routerLink]="['/panel-adm/ctrabajos']">
                          <i class="fas fa-arrow-circle-left"></i>
                          Regresar
                        </button>
                        </div>
                    </div>

                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-folder-open"></i> Unidades Internas
                        </li>
                        <li>
                            Centros de Trabajos
                        </li>
                    </ol>
                </section>

                <section class="content container-fluid">
                    <form (ngSubmit)="guardar()">
                        <div class="form-group row">
                            <div class="col-sm-4" *ngIf="bandera">
                                <label class="col-sm-12 col-form-label">Nombre</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el nombre" name="nombre" [(ngModel)]="ctrabajo.nombre">
                                </div>
                            </div>
                            <div class="col-sm-8" *ngIf="!bandera">
                                <label class="col-sm-12 col-form-label">Nombre</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el nombre" name="nombre" [(ngModel)]="ctrabajo.nombre">
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="bandera">
                                <label class="col-sm-12 col-form-label">Unidad Administrativo</label>
                                <div class="col-sm-12">
                                    <select class="form-control" name="unidadAdm" [(ngModel)]="unidadAdm" (change)="inicio();">
                                        <option *ngFor="let unidad of unidades" [value]="unidad.id"> {{ unidad.nombre }} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Centro de Costo</label>
                                <div class="col-sm-12">
                                    <select class="form-control" name="id_centro_costo" [(ngModel)]="ctrabajo.id_centro_costo" [(disabled)]="bandera2">
                                        <option *ngFor="let centro of centros" [value]="centro.id"> {{ centro.nombre }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Estado</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el estado" name="estado" [(ngModel)]="ctrabajo.estado">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Municipio</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el municipio" name="municipio" [(ngModel)]="ctrabajo.municipio">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Localidad</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa la localidad" name="localidad" [(ngModel)]="ctrabajo.localidad">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Codigo Postal</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" placeholder="Ingresa el codigo postal" name="cp" [(ngModel)]="ctrabajo.cp">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Colonia</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa la colonia" name="colonia" [(ngModel)]="ctrabajo.colonia">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Calle</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa la calle" name="calle" [(ngModel)]="ctrabajo.calle">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">N° Exterior</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" placeholder="Ingresa el numero" name="num_exterior" [(ngModel)]="ctrabajo.num_exterior">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">Domicilio Interior</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Ingresa el domicilio" name="dom_interior" [(ngModel)]="ctrabajo.dom_interior">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-12 col-form-label">N° Interior</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" placeholder="Ingresa el numero" name="num_interior" [(ngModel)]="ctrabajo.num_interior">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <button class="btn btn-primary pull-right" type="submit">
                              <i class="fas fa-save"></i>
                              Guardar
                            </button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>