<!-- Breadcrumb -->
<div class="d-none d-sm-block">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-folder-open"></i> Presupuestos de Egresos</li>
        <li class="breadcrumb-item"> Presupuestos de Egreso</li>
    </ol>
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-md-8 text-center text-sm-left  h5 font-weight-bold">
                            <i class="fa fa-list"></i> Presupuesto de Egreso {{ anioEgreso }}
                        </div>
                        <div class="col-12 col-md-4 text-center text-sm-right">
                            <button *ngIf="!cuentaTabla" class="btn btn-outline-primary mt-2 btn-sm" type="button" (click)="cancelar();">
                                <i class="fa fa-arrow-circle-left "></i> Regresar
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Botones de modificar egreso-->
                <div class="card-body ">
                    <!-- Boton editar partida -->
                    <div *ngIf="cuentaTabla" class="row mb-3">
                        <div class="col-4 well text-center">
                            <h5 class="mt-2"><b>Crear proyecto</b></h5>
                        </div>
                        <div class="col-2 well text-center">
                            <button class="btn btn-danger mt- btn-sm" type="button" style="width: 100px;" (click)="mostrarProyectos()" title="Proyectos">
                                <i class="fa fa-project-diagram fa-lg"></i>
                            </button>
                            <p style="font-size: 12px;">Proyectos</p>
                        </div>
                        <div class="col-2 well"></div>
                        <div class="col-2 well"></div>
                        <div class="col-2 well"></div>
                    </div>
                    <!-- Divicion de botones -->
                    <hr>
                    <!-- Botones de aumento y disminucion -->
                    <div *ngIf="cuentaTabla" class="row mb-3">
                        <div class="col-4 well text-center">
                            <h5 class="mt-3"><b>Modificar partidas</b></h5>
                        </div>
                        <div class="col-2 well text-center">
                            <button class="btn btn-primary mt-2 btn-sm" type="button" style="width: 100px;" (click)="aumento();" title="Aumentar o Disminuir">
                                <i class="fas fa-plus"></i>/<i class="fas fa-minus"></i>
                            </button>
                            <p style="font-size: 12px;">Aumentar o Disminuir</p>
                        </div>
                        <div class="col-2 well text-center">
                            <button class="btn btn-primary mt-2 btn-sm" type="button" style="width: 100px;" (click)="transferir();" title="Tranferir">
                                <i class="fas fa-exchange-alt"></i>
                            </button>
                            <p style="font-size: 12px;">Transferir</p>
                        </div>
                        <div class="col-2 well"></div>
                        <div class="col-2 well"></div>
                    </div>

                    <!-- Calculos -->
                    <div *ngIf="!cuentaTabla" class="row">
                        <div class="col-md-9 well mt-3" style=" padding-left: 30px;">
                        </div>
                        <div class="col-md-3 well">
                            <div class="text-right" style="padding-right: 20px;">
                                <label class="font-weight-bold" style="font-size: 18px;">Total: $ {{ totalProyecto2 }}</label>
                            </div>
                            <div class="text-right" style="padding-right: 20px;">
                                <label *ngIf="bandera === 0" class="font-weight-bold" style="font-size: 18px;">Diferencia: $ {{ diff }}</label>
                                <label *ngIf="bandera === 1" class="font-weight-bold text-success" style="font-size: 18px;">Diferencia: $ {{ diff }}</label>
                                <label *ngIf="bandera === 2" class="font-weight-bold text-danger" style="font-size: 18px;">Diferencia: $ {{ diff }}</label>
                            </div>
                            <hr style="margin: 0px; padding: 0px;">
                            <div class="text-right" style="padding-right: 20px;">
                                <label class="font-weight-bold" style="font-size: 18px;">Nuevo Total: $ {{ totalProyecto }}</label>
                            </div>
                        </div>
                    </div>

                    <!-- tabla de las partidas del egreso -->
                    <table id="tabla1" class="table table-striped table-bordered table-sm" style="display: none;">
                        <thead>
                            <tr>
                                <th class="align-middle text-center " colspan="2" width="28%">Proyectos</th>
                                <th class="align-middle text-center " colspan="2" width="28%">Fase</th>
                                <th class="align-middle text-center " colspan="4" width="44%">Partidas</th>
                            </tr>
                            <!-- <tr> -->
                            <!-- Info de Proyecto -->
                            <th class="align-middle text-center" width="5%">Código</th>
                            <th class="align-middle text-center" width="20%">Nombre</th>
                            <!-- Info de Fase -->
                            <th class="align-middle text-center" width="5%">Código</th>
                            <th class="align-middle text-center" width="20%">Nombre</th>
                            <!-- Info de Partidas -->
                            <th class="align-middle text-center" width="5%">Código</th>
                            <th class="align-middle text-center" width="25%">Nombre</th>
                            <th class="align-middle text-center">Importe Original</th>
                            <th class="align-middle text-center">Nuevo Importe</th>
                            <!-- </tr> -->
                        </thead>
                        <tbody>
                            <tr *ngFor="let proyecto of proyectos; let i=index ">
                                <td class="align-middle text-center">{{ proyecto.codigo_proyecto }}</td>
                                <td class="align-middle">{{ proyecto.nombre_proyecto }}</td>
                                <td class="align-middle text-center">{{ proyecto.codigo_fase }}</td>
                                <td class="align-middle">{{ proyecto.nombre_fase }}</td>
                                <td class="align-middle text-center">{{ proyecto.codigo_partida }}</td>
                                <td class="align-middle">{{ proyecto.nombre_partida}}</td>
                                <td *ngIf="!cuentaTabla" class="align-middle text-center">{{ proyectos2[i].importe | number:"1.2-2"}}</td>
                                <td class="">
                                    <div class="input-group mb-3 ">
                                        <div class="input-group-prepend align-middle mt-3">
                                            <span class="input-group-text" id="basic-addon1">$</span>
                                        </div>
                                        <input *ngIf="!aumentTranf" type="number" class="form-control mt-3" [id]="'item'+i" (change)="calcularTotalTransf(i,  proyecto)" name="importe" [(ngModel)]="proyecto.importe">
                                        <input *ngIf="aumentTranf" type="number" class="form-control mt-3" [id]="'item2'+i" (change)="calcularTotalAumento(i, proyecto)" name="importe" [(ngModel)]="proyecto.importe">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="!cuentaTabla" class="text-center">
                        <button class="btn btn-warning mt-2" type="button" style="width: 100px;" (click)="limpiarCampos();">
                            <i class="fas fa-eraser"></i> Limpiar 
                        </button> &nbsp;&nbsp;
                        <button class="btn btn-danger mt-2" id="cancelar" type="button" style="width: 100px;" (click)="cancelar();">
                            <i class="fas fa-window-close"></i> Cancelar 
                        </button> &nbsp;&nbsp;
                        <button *ngIf="!aumentTranf" class="btn btn-success mt-2" id="guardar1" type="button" style="width: 100px;" (click)="guardar();" disabled>
                            <i class="fas fa-save"></i> Guardar 
                        </button>
                        <button *ngIf="aumentTranf" class="btn btn-success mt-2" id="guardar2" type="button" style="width: 100px;" (click)="guardar();">
                            <i class="fas fa-save"></i> Guardar 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>